@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: #ECEEFF;
    width: 100%;
    height: 1200px;
}

.container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background: #FFFFFF;
  box-shadow: -15px -15px 0px #C9CEF9;
  width: 396px;
  height: 768px;
}

.con-in {
    position: absolute;
    width: 332px;
    height: 667px;
}

.text {
    font-size: 16px;
    color: #111434;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 332px;
  height: 56px;
  margin-top: 15px;
  padding: 6px;
  background: #ECEEFF;
  border: 1px solid #C9CEF9;
  border-radius: 8px;
}

.btn {
    padding: 10px 45px;
    background-color: #fff;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 500;
    color: #111434;
    cursor: pointer;
    transition: 0.3s;
}

.btn2 {
    background-color: #ECEEFF;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);;
}

.text-2 {
    display: block;
    margin: 40px 0 5px 0;
    font-size: 16px;
    color: #111434;
}

.prices {
    display: flex;
    text-align: center;
    color: #111434;
    font-size: 16px;
    justify-content: space-between;
}
    
.price {
    padding: 10px 15px;
    background: #FFFFFF;
    border: 2px solid #C9CEF9;
    border-radius: 4px;
    margin-bottom: 20px;
}
.prices .select {
    background-color: #111434 ;
    border: none;
    color: #fff;
}
.fee{
    margin-bottom: 45px;
}
.fee input {
    width: 25px;
    height: 25px;
}

.form label {
    display: block;
    color: #111434;
    font-size: 16px;
    margin-bottom: 5px;
}

.form input {
   width: 332px;
   height: 52px;
   color: #878999;
   background: #FFFFFF;
   border: 2px solid #C9CEF9;
   border-radius: 4px;
   padding-left: 20px;
   font-size: 16px;
}

.email {
    margin-top: 20px;
}

.alt-t {
    display: block;
    margin: 5px 0 25px 0;
    color: #1034F1;
}

.btn-m {
    color: #FFF;
    background: #111434;
    border-radius: 4px;
    padding: 15px 123px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

.btn-m:hover {
 background: rgba(17, 20, 52, 0.5);
}

.terms {
    font-size: 14px;
    color: #111434;
}

.terms-c {
    color: #1034F1;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}